:root{
    --header: rgba(0, 0, 0, 0.7);
    --Transparente: rgba(104, 93, 93, 0.5);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(/img/Diseño\ sin\ título.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-size:larger;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo negro con 70% de opacidad */
}


.logo {
    height: 60px;
}

.nav {
    display: none;
}

.nav__list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.nav__item {
    margin: 10px 0;
    padding-left: 2rem;
}

.nav__link {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 13px;
    text-decoration: none;
    transition: color 0.3s ease-in;
}

.nav__link:hover {
    color: yellow;
    
}

.nav-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.hamburger {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    position: relative;
    transition: all 0.3s linear;
}

.hamburger::before,
.hamburger::after {
    content: '';
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    transition: all 0.3s linear;
}

.hamburger::before {
    transform: translateY(-8px);
}

.hamburger::after {
    transform: translateY(8px);
}

.nav.open {
    display: block;
}

@media (min-width: 768px) {
    .nav {
        display: block;
    }
    
    .nav__list {
        flex-direction: row;
    }

    .nav-toggle {
        display: none;
    }
}

.img-cardI{
    height: 20rem;
    width: 30rem;
    
}

.card-info{
    width:auto;
    height:auto;
    display: flex;
    margin: 1rem;
} 

.card{
    width: 18rem;
    background-color: gainsboro;
    margin: 1rem;
    
    
}
.ii{
    backdrop-filter: blur(10px);
    /* Ajusta el valor de desenfoque según desees */
    -webkit-backdrop-filter: blur(8px);
    /* Prefijo para navegadores WebKit como Safari */
    background-color: rgba(104, 93, 93, 0.7);
    /* Color de fondo con transparencia */;
}

.img-cardI{
    height: 15rem;
    width:auto;
}
.img-card{
    height: 15rem;
    width:auto;
    background-color:beige;
    
}

.tarjet{
    align-self: center;
    display: flex;
}